body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.g-3{
  padding: 0 2em 0 2em;
}

li{
  list-style:none;
}

.display-info-container{
  display: flex;
  justify-content: space-between;
}

.buttons{
  justify-content: center;
}

.cart {
  width: "3rem"; 
  height: "3rem"; 
  position: "relative";
}

.product-container{
  padding: 0 3em 0 3em;
}

.cart-container{
  padding: 0 3em 0 3em;
}

.order-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 0.5em;
  margin-bottom: 1.5em;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  flex-wrap: wrap;
}

.order-img{
  width: 10em;;
}
